*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --text-color:#0B0223;
    --nav-btn-bg:#000000
}
header{
/* text-align: center; */
padding-bottom: 4rem;
width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
padding: 0px 10rem;

}
.nav-item{
    display: flex;
    gap: 30px;
}

.nav-item a{
    padding: 0rem 0.8rem;
    color:var(--text-color);
    font-size: 18px;
    font-weight: 500;
}
.nav-btn{
color: #fff;
background-color: var(--nav-btn-bg);
width: 6rem;
height: 2rem;
border-radius: 5px;
}
nav img{
    width: 140px;
}
.banner{
    display: flex;
    justify-content: space-between;
    padding: 0px 10rem;
    margin-top: 40px;
    gap: 40px;
}
.banner-left{
    width: 100%;
    margin-top: 40px;
}
.banner-right{
    width: 100%;
}
.banner img{
    width: 100%;
    margin-right: 0px;
}
.banner-title{
    font-size: 60px;
    margin-top: 20px;
    font-weight: 900;
}
.banner-sub-container{
    display: flex;
    height: 80px;
    gap: 10px;
    align-items: center;
}
.banner-sub{
    font-size: 20px;
    font-weight: 400;
    color: #747272;
}
.banner-sub-container img{
    width: 3px;
    height: 42px;
    padding-top: 5px;
}

.banner-sub-title{
    font-size: 20px;
    font-weight: 500;
}